<div class="footer">
<footer>
  <p class=>All data from: <a href="http://ghdx.healthdata.org/record/united-states-adult-life-expectancy-state-and-county-1987-2009">The Global Health Data Exchange</a>
  <br>
  This site can not be used without expressed consent from the authors.
  <br>
  Authors: Aadam Faheem and Cassie Eilish
  <br>
  Created: January 2021</p>
</footer>
</div>
